body {
  font-family: 'Merriweather', serif;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.headlist {
  width: 70%;
  justify-content: space-around;
  font-size: 17px;
  letter-spacing: 2px;
}

.logo {
  font-family: 'Merriweather', serif;
  font-size: 30px;
  text-decoration: none;
}

.show a {
  color: black;
  font-weight: bold;
}

.headlist a:hover {
  text-decoration: underline;
  text-underline-offset: 7px;
}

footer {
  position: absolute;
  margin-left: 2%;
  background-color: rgb(155, 155, 238);
}

.shows {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;
  background-color: pink;
}

.show {
  margin: 3% 1%;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  background-color: rgb(191, 64, 191);
  color: black;
  padding-bottom: 0.5%;
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3%;
  color: red;
}

.action .wrapper:active {
  background-color: red;
}

.number {
  text-align: right;
}
.section img {
  display: flex;
  height: 350px;
  margin: 2% auto;
}
.cross_button {
  position: absolute;
  left: 300px;
}

.cross {
  position: absolute;
  top: 20px;
  right: 300px;
}
.titlecount {
  display: flex;
  font-size: 30px;
  color: black;
  justify-content: center;
}

.comment {
  margin-top: 1%;
  font-size: 22px;
}
.commentbox {
  font-size: 15px;
  margin: 1% auto;
  padding: 1%;
  border: 1px solid black;
  width: 50%;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  margin: 0 auto;
}
