body {
  font-family: 'Merriweather', serif;
}

.headlist {
  width: 70%;
  justify-content: space-around;
}

 .logo{
  font-family: 'Merriweather', serif;
  font-size: 30px;
  text-decoration: none;  
}

.headlist {
  font-size: 17px;
  letter-spacing: 2px;
}

.headlist a:hover {
  text-decoration: underline;
  text-underline-offset: 7px;
}